# EditorConfig is awesome: http://EditorConfig.org
= false

= tab
= 4
= lf
= true
= false
= utf-8

[*.{json,js,css,scss,yml,htm,html}]
indent_style = space
indent_size = 2

[*.{md,mdown,markdown}]
trim_trailing_whitespace = false
insert_final_newline = true
indent_style = space
indent_size = 4
